/*
Based off of the Ayu theme
Original by Dempfi (https://github.com/dempfi/ayu)
*/

.hljs {
  display: block;
  overflow-x: auto;
  background: #191919;
  color: #e6e6e6;
}

.hljs-comment,
.hljs-quote {
  color: #7a7a7a;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #666666;
}

.hljs-number,
.hljs-meta,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #b0b0b0;
}

.hljs-string,
.hljs-bullet {
  color: #9a9a9a;
}

.hljs-title,
.hljs-built_in,
.hljs-section {
  color: #c0c0c0;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-symbol {
  color: #686868;
}

.hljs-name {
    color: #8d8d8d;
}

.hljs-tag {
    color: #4d4d4d;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: #8e8e8e;
}

.hljs-deletion {
  color: #6e6e6e;
}
